.output__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.output__container div {
  text-align: center;

  background-color: rgb(240, 248, 255);
  border-radius: 2rem;

  overflow: hidden;
}

.output__container img {
  width: 100%;
  object-fit: cover;
}

.output__container h2,
p {
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.error {
  grid-column: 3 / 4;
  text-align: center;
  color: white;
}

/* # Media Queries */
@media only screen and (max-width: 1250px) {
  .output__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .error {
    grid-column: 2 / span 4;
  }
}

@media only screen and (max-width: 1000px) {
  .output__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .output__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .error {
    grid-column: 1 / span 2;
  }
}

@media only screen and (max-width: 540px) {
  .output__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
