.output__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.output__container div {
  text-align: center;
  color: white;
  background-color: grey;
  padding: 0.625rem;
}

.output__container h2,
p {
  margin-bottom: 0.5rem;
}
