.search input[type="text"] {
  margin-right: 1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  border: none;
  font-family: Queensides;
  width: 16rem;
  margin-bottom: 1rem;
}

.search input[type="submit"] {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

::placeholder {
  font-family: Queensides;
}
