.details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  min-height: 100dvh;

  background: url(/img/eyes.jpg) center no-repeat;

  background-size: cover;
}

.details .back-arrow {
  width: 25px;
  position: absolute;
  top: 1rem;
  left: 1rem;

  cursor: pointer;
}

.details div {
  text-align: center;
  position: relative;
  padding: 3.5rem;

  background-color: rgba(240, 248, 255, 0.895);
  border-radius: 2rem;
}

.details div h2,
p {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  max-width: 20ch;
}
